.App-logo {
  pointer-events: none;
  width: 50%;
}

.logo-arrow {
  transform-origin: 50% 50%;
}

.logo-lense {

  transform-origin: 50% 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-arrow {
    animation: spin infinite 5s linear;
  }

  .logo-lens {
    animation: lens infinite 5s ease-in-out;
  }
}



@keyframes spin {
  0% {
    transform: rotate(360deg) ;
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes lens {
  3% {
    transform: translate(0, 0);
  }

  30% {
    transform: translate(21%, -19%) rotate(10deg);
  }

  36% {
    transform: translate(21%, -19%) rotate(10deg);
  }

  63% {
    transform: translate(4%, 10%) rotate(-10deg);
  }

  69% {
    transform: translate(4%, 10%) rotate(-10deg);
  }

  97% {
    transform: translate(0, 0);
  }
}
